<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions - Decision Domain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">
</head>
<body> 
  <h1 class="fancy">
    Would you rather {% for key, value in {{select}}.iteritems()%} {% if key=="{{table_name}}Type" %} "{{value}}"{% endif %} {% endfor %}
    Keyword
    Topic
  </h1>

  <div class="flex-parent jc-center">
    <button type="submit" class="btn left">
      <input type="hidden" name="table_name" value="{{table_name}}"/>
      <input type="hidden" name="row_id" value="{{row_id}}" />
      {% for key, value in {{select}}.iteritems()%} {% if key=="{{table_name}}OptionLeft" %} "{{value}}"{% endif %} {% endfor %}
    </button>
      or a  
    <button type="submit" class="btn right">
      {% for key, value in {{select}}.iteritems()%} {% if key=="{{table_name}}OptionRight" %} "{{value}}"{% endif %} {% endfor %}
      Longer Cat
    </button>
  </div>

  <div class="footer">
  </div>

  <div class="footer">
    <p class="footer-text">
      Created By: Daniel Ma, Andrew Bauer, Vincent Sison, Tristan Pearson
    </p>
  </div>
</body> 
</html>  