<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions - Decision Domain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='questions.css') }}">
</head>
<body> 
  <h1 class="fancy">
    Keyword
    Topic
  </h1>

  <div class="flex-parent jc-center">
    <button type="submit" class="btn left" id="left">Cat</button>
    <button type="submit" class="btn right" id="right">Longer Cat</button>
  </div>

    <p> <h1> Cat Clicked by <span id="displayl">0</span> People</h1></p>
    <script type="text/javascript">
        var countleft = 0;
        var left = document.getElementById("left");
        var displ = document.getElementById("displayl");
        left.onclick = function () {
            countleft++;
            displ.innerHTML = countleft;
        } </script>
  
  <p> <h1> Longer Cat Clicked by <span id="displayr">0</span> People</h1></p>
    <script type="text/javascript">
        var countright = 0;
        var right = document.getElementById("right");
        var dispr = document.getElementById("displayr");
        right.onclick = function () {
            countright++;
            dispr.innerHTML = countright;
        } </script>
    
  
  <div class="footer">
  </div>

  <div class="footer">
    <p class="footer-text">
      Created By: Daniel Ma, Andrew Bauer, Vincent Sison, Tristan Pearson
    </p>
  </div>
</body> 
</html>  